[Unit]
Description=Polybar for monitor %i

[Service]
Environment="MONITOR=%i"
ExecStart=/usr/bin/env polybar -l info example
Restart=always
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=wm.target

