[Unit]
Description=Simple Hotkey Daemon

[Service]
#Environment=SHELL='/usr/bin/env bash'
ExecStart=/usr/bin/env sxhkd
Restart=always

[Install]
WantedBy=xsession.target

